* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
    background: url('bg.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    margin-left: 140px;
    margin-top: 25px;
    width: 85px;
    height: auto;
}

.content {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.5em;
}

.menu {
    position: absolute;
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #575757; /* Adjust button background color as needed */
    border-radius: 5px; /* Adjust border radius as needed */
}

.menu-icon {
    cursor: pointer;
}

.menu-icon .bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.about-me {
font-family: 'Franklin Gothic Medium'   ;

    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.about-me h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-stretch: condensed;
}

.about-me p {
    font-size: 1.3em;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-weight: lighter;
    color:#ebebeb;
}

.about-me a {
    color: #f77f00;
    text-decoration: none;
}

.about-me a:hover {
    text-decoration: underline;
}

.contact-button {
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: #e66d00;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
    
}
.projects {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.projects h1 {
    font-size: 2em;
    margin-bottom: 20px;
}


.contact-container h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium'   ;
    font-size: 35px;
    font-stretch: condensed;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info a {
    color: #fdfdfd;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 520px;

}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fdfdfd;
    color: #000000;
    width: calc(50% - 20px); /* Ensures input elements stretch to fit their container */
}

.contact-form button {
    background-color: #ffcc00;
    color: #1c1c1c;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

.contact-form button:hover {
    background-color: #e6b800;
}
.btn{
    width: 20%; /* or any width you prefer */
    margin: 0 auto;
    height: 100px;
}

.btn button{
    background-color: #ffcc00;
    color: #1c1c1c;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: -210px;
    cursor: pointer;
    text-align: center
}
