* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100%;
    background: url('bg.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 50px;
    height: auto;
}

.content {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.5em;
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-icon {
    cursor: pointer;
}

.menu-icon .bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.about-me {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.about-me h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-me a {
    color: #f77f00;
    text-decoration: none;
}

.about-me a:hover {
    text-decoration: underline;
}

.contact-button {
    background-color: #f77f00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.contact-button:hover {
    background-color: #e66d00;
}

body {
    background-color: #1aa3d8;
    color: #fff;
    font-family: 'Arial', sans-serif;
    
}
.projects {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.projects h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-container h1 {
    text-align: center;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info a {
    color: #ffcc00;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #fdfdfd;
    color: #000000;
}

.contact-form button {
    background-color: #ffcc00;
    color: #1c1c1c;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #e6b800;
}
